<p id="notice"><%= notice %></p>
<% provide(:title, '画像の詳細') %>
<h1>画像の詳細</h1>

<p>
  <strong>名前:</strong>
  <%= @url.name %>
</p>

<p>
  <strong>URL:</strong>
  <%= @url.url %>
</p>

<p>
  <strong>X座標:</strong>
  <%= @url.x %>
</p>

<p>
  <strong>Y座標:</strong>
  <%= @url.y %>
</p>

<p>
  <strong>幅:</strong>
  <%= @url.w %>
</p>

<p>
  <strong>高さ:</strong>
  <%= @url.h %>
</p>

<!-- <p>
  <strong>Px:</strong>
  <%= @url.px %>
</p>

<p>
  <strong>Py:</strong>
  <%= @url.py %>
</p>

<p>
  <strong>Pw:</strong>
  <%= @url.pw %>
</p>

<p>
  <strong>Ph:</strong>
  <%= @url.ph %>
</p>

<p>
  <strong>Zoom:</strong>
  <%= @url.zoom %>
</p>

<p>
  <strong>Autoup:</strong>
  <%= @url.autoup %>
</p>

<p>
  <strong>Captime:</strong>
  <%= @url.captime %>
</p>

<p>
  <strong>Hour:</strong>
  <%= @url.hour %>
</p>

<p>
  <strong>Minute:</strong>
  <%= @url.minute %>
</p>

<p>
  <strong>Visible:</strong>
  <%= @url.visible %>
</p>

<p>
  <strong>User:</strong>
  <%= @url.user_id %>
</p>

<p>
  <strong>Page:</strong>
  <%= @url.page_id %>
</p> -->



<hr>
<h2>Captures of the URL</h2>

<table class="table" >
  <thead>
    <tr>
      <th>画像のURL</th>
      <!-- <th>Url_ID</th>
      <th>Star</th>
      <th>W</th>
      <th>H</th>
      <th>Md5</th>
      <th>fsize</th>
      <th>Zoom</th> -->
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @url.captures.each do |capture| %>
      <tr>
        <td><%= capture.imgurl %></td>
        <!-- <td><%= capture.url_id %></td>
        <td><%= capture.star %></td>
        <td><%= capture.w %></td>
        <td><%= capture.h %></td>
        <td><%= capture.md5 %></td>
        <td><%= capture.fsize %></td> -->
        <td><%= capture.zoom %></td>
        <td><%= link_to '閲覧', capture %></td>
        <!-- <td><%= link_to 'Edit', edit_capture_path(capture) %></td> -->
        <td><%= link_to '削除', capture, method: :delete, data: { confirm: '本当に削除しますか？' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>


<%= link_to '編集', edit_page_url_path(@url) %> |
<%= link_to '戻る', page_urls_path %>
