<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @url.name %>
</p>

<p>
  <strong>Url:</strong>
  <%= @url.url %>
</p>

<p>
  <strong>X:</strong>
  <%= @url.x %>
</p>

<p>
  <strong>Y:</strong>
  <%= @url.y %>
</p>

<p>
  <strong>W:</strong>
  <%= @url.w %>
</p>

<p>
  <strong>H:</strong>
  <%= @url.h %>
</p>

<p>
  <strong>Px:</strong>
  <%= @url.px %>
</p>

<p>
  <strong>Py:</strong>
  <%= @url.py %>
</p>

<p>
  <strong>Pw:</strong>
  <%= @url.pw %>
</p>

<p>
  <strong>Ph:</strong>
  <%= @url.ph %>
</p>

<p>
  <strong>Zoom:</strong>
  <%= @url.zoom %>
</p>

<p>
  <strong>Autoup:</strong>
  <%= @url.autoup %>
</p>

<p>
  <strong>Captime:</strong>
  <%= @url.captime %>
</p>

<p>
  <strong>Hour:</strong>
  <%= @url.hour %>
</p>

<p>
  <strong>Minute:</strong>
  <%= @url.minute %>
</p>

<p>
  <strong>Visible:</strong>
  <%= @url.visible %>
</p>

<p>
  <strong>User:</strong>
  <%= @url.user_id %>
</p>

<p>
  <strong>Page:</strong>
  <%= @url.page_id %>
</p>

<%= link_to 'Edit', edit_url_path(@url) %> |
<%= link_to 'Back', urls_path %>
