<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @url.name %>
</p>

<p>
  <strong>Url:</strong>
  <%= @url.url %>
</p>

<p>
  <strong>X:</strong>
  <%= @url.x %>
</p>

<p>
  <strong>Y:</strong>
  <%= @url.y %>
</p>

<p>
  <strong>W:</strong>
  <%= @url.w %>
</p>

<p>
  <strong>H:</strong>
  <%= @url.h %>
</p>

<p>
  <strong>Px:</strong>
  <%= @url.px %>
</p>

<p>
  <strong>Py:</strong>
  <%= @url.py %>
</p>

<p>
  <strong>Pw:</strong>
  <%= @url.pw %>
</p>

<p>
  <strong>Ph:</strong>
  <%= @url.ph %>
</p>

<p>
  <strong>Zoom:</strong>
  <%= @url.zoom %>
</p>

<p>
  <strong>Autoup:</strong>
  <%= @url.autoup %>
</p>

<p>
  <strong>Captime:</strong>
  <%= @url.captime %>
</p>

<p>
  <strong>Hour:</strong>
  <%= @url.hour %>
</p>

<p>
  <strong>Minute:</strong>
  <%= @url.minute %>
</p>

<p>
  <strong>Visible:</strong>
  <%= @url.visible %>
</p>

<p>
  <strong>User:</strong>
  <%= @url.user_id %>
</p>

<p>
  <strong>Page:</strong>
  <%= @url.page_id %>
</p>

<table>
  <thead>
    <tr>
      <th>Imgurl</th>
      <th>Url</th>
      <th>Star</th>
      <th>W</th>
      <th>H</th>
      <th>Zoom</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @url.captures.each do |capture| %>
      <tr>
        <td><%= capture.imgurl %></td>
        <td><%= capture.url %></td>
        <td><%= capture.star %></td>
        <td><%= capture.w %></td>
        <td><%= capture.h %></td>
        <td><%= capture.zoom %></td>
        <td><%= link_to 'Show', capture %></td>
        <td><%= link_to 'Edit', edit_capture_path(capture) %></td>
        <td><%= link_to 'Destroy', capture, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>


<%= link_to 'Edit', edit_url_path(@url) %> |
<%= link_to 'Back', urls_path %>
