<%= form_with(model: capture, local: true) do |form| %>
  <% if capture.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(capture.errors.count, "error") %> prohibited this capture from being saved:</h2>

      <ul>
      <% capture.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :imgurl %>
    <%= form.text_field :imgurl, id: :capture_imgurl %>
  </div>

  <div class="field">
    <%= form.label :url_id %>
    <%= form.text_field :url_id, id: :capture_url_id %>
  </div>

  <div class="field">
    <%= form.label :star %>
    <%= form.check_box :star, id: :capture_star %>
  </div>

  <div class="field">
    <%= form.label :w %>
    <%= form.number_field :w, id: :capture_w %>
  </div>

  <div class="field">
    <%= form.label :h %>
    <%= form.number_field :h, id: :capture_h %>
  </div>

  <div class="field">
    <%= form.label :zoom %>
    <%= form.number_field :zoom, id: :capture_zoom %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
