<p id="notice"><%= notice %></p>

<p>
  <strong>Imgurl:</strong>
  <%= @capture.imgurl %>
</p>

<p>
  <strong>Url:</strong>
  <%= @capture.url %>
</p>

<p>
  <strong>Star:</strong>
  <%= @capture.star %>
</p>

<p>
  <strong>W:</strong>
  <%= @capture.w %>
</p>

<p>
  <strong>H:</strong>
  <%= @capture.h %>
</p>

<p>
  <strong>Zoom:</strong>
  <%= @capture.zoom %>
</p>

<%= link_to 'Edit', edit_capture_path(@capture) %> |
<%= link_to 'Back', captures_path %>
