<p id="notice"><%= notice %></p>

<%= link_to 'All User' , users_path %>
<%= link_to 'Update Capture for '+@user.name , @user.id.to_s + '/captall' %>
<%= link_to 'Add/Edit URL' , user_urls_path(@user) %>
<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Pass:</strong>
  <%= @user.pass %>
</p>

<% @urls.each do |u| %>
<div>
<%= image_tag u.last.imgurl , width: 300 %>
<%= u.last.created_at %>
</div>
<% end %>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
