<%= form_with(model: page, local: true) do |form| %>
  <% if page.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(page.errors.count, "error") %> prohibited this page from being saved:</h2>

      <ul>
      <% page.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :page_name %>
  </div>

  <div class="field">
    <%= form.label :uphour %>
    <%= form.text_field :uphour, id: :page_uphour %>
  </div>

  <div class="field">
    <%= form.label :mes %>
    <%= form.text_area :mes, id: :page_mes %>
  </div>

  <div class="field">
    <!-- <%= form.label :user_id %> -->
    <%= form.hidden_field :user_id, id: :page_user_id, value: current_user.id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
