<script
            src="https://code.jquery.com/jquery-1.12.4.min.js"
            integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
            crossorigin="anonymous"></script>

<p id="notice"><%= notice %></p>


<% @page.urls.each do |url| %>

<%= image_tag url.last.imgurl, :class =>"hov", :id => "imgid_"+url.id.to_s %>
<br>
<%= url.url %> <span id="dtimgid_<%= url.id.to_s %>"><%= url.last.created_at.in_time_zone('Tokyo').to_s.slice(0,19) %></span>
<hr>
<% end %>

<hr>

<p>
  <strong>Name:</strong>
  <%= @page.name %>
</p>

<p>
  <strong>Mes:</strong>
  <%= @page.mes %>
</p>

<p>
  <strong>User:</strong>
  <%= @page.user %>
</p>

<%= link_to 'Edit', edit_page_path(@page) %> |
<%= link_to 'Back', pages_path %> | |

<%= link_to 'List URL', page_urls_path(@page) %>
<%= link_to 'Add URL', new_page_url_path(@page) %>

<script type="text/javascript">
      var x1,x2,y1,y2,pressed=false;
      var urls;

      $(document).ready(function(){
//        console.log("enabled JQuery");
        $("img.hov").mousemove(mm);
        $.getJSON("<%= page_path(@page) %>.json", function(data){
          urls = data.urls;
        });
      });
      function filterById(jsonObject, id) {return jsonObject.filter(function(jsonObject) {return (jsonObject['id'] == id);})[0];}

      function mm(e){
        e.preventDefault();
        x2 = e.clientX;
        y2 = e.clientY;
        var imgoffset = $("#"+e.currentTarget.id).offset();
        var scrollTop = window.pageYOffset;
        var scrollLeft = window.pageXOffset;
        x2 = Math.round(x2 - imgoffset.left + scrollLeft);
        y2 = Math.round(y2 - imgoffset.top + scrollTop);


        if (x2 != x1) {
        var uuu = filterById(urls, e.currentTarget.id.split("_")[1]);
        var len = uuu.captures.length-1;
        var offset = 1;
        var maximage = 30;
        if (len > maximage) { offset = len - maximage; len = maximage; }
        var unitw = uuu.w / len; // skip 0(original, not cropped)
        var imgidx = Math.floor(x2 / unitw) + offset; // skip 0(original, not cropped)
        // console.log(e.currentTarget.id+" "+x2+" "+uuu.w);
        // console.log( "imgidx="+imgidx+"  "+uuu.captures.length + " "+uuu.w );
//        console.log(uuu.captures[imgidx]);
        $('#'+e.currentTarget.id).attr('src', uuu.captures[imgidx].imgurl);
        $('#'+e.currentTarget.id).attr('alt', uuu.captures[imgidx].created_at);
        // UTC → JST 変換
        var date = new Date(uuu.captures[imgidx].created_at);
        var jst = date.toLocaleString().replace(/\//g,"-");
        $('#dt'+e.currentTarget.id).text(jst);
//        console.log(date+" "+jst);

      }
      x1 = x2; y1 = y2;
//        console.log(x2+" "+y2);
        return false;
      }
    </script>
