<% if user_signed_in? #ログインしていたら %>

<% if !@pages.nil? %>
<h2>Pages</h2>
<ul>
  <% @pages.each do |page| %>
  <li>
    <%= link_to page.name, page %>
    <% if (page.uphour.include?("-")) then %>
    (update scheduled at every
    <%= page.uphour %> hours)
    <% end %>
    <%= link_to "Edit", edit_page_path(page) %>
    <%= link_to "Add URL", new_page_url_path(page) %>
    <%= link_to "AllCapture!!", allcapture_page_path(page) %>
  </li>
  <% end %>
</ul>
<% end %>

<p style="background: #cff;">
  <%= link_to "List Page", pages_path %>
  <%= link_to "New Page", new_page_path %>

  <!-- <%= link_to "List URL", urls_path %>
  <%= link_to "New URL", new_url_path %> -->
</p>
<% else #未ログインなら %>
<div class="center jumbotron">
  <h1>きりはりクン</h1>

  <h2>
    きりはりクンは、あなたの知りたい多くの情報を一度に得ることを可能にします。
  </h2>

  <%= link_to "今すぐ登録して始める", new_user_registration_path, class: "btn btn-lg btn-primary active" %>
</div>
<% end %>
